<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title" style="color: blueviolet;"><h4>EDUCATION</h4></div>
            <div class="card">
                <div class="row">
                    
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body" style="background-color: blueviolet;">
                            <div class="h4">BACHELOR OF TECHNOLOGY</div>
                                <h4 class="category" style="color: black;">VEMU INSTITUTE OF TECHNOLOGY</h4>
                                <ul>
                                    <li>VEMU INSTITUTE OF TECHNOLOGY, ANDHRA PRADESH </li>
                                        <li>Completed B.Tech in Stream Of Electrical And Electronics Engineering</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body" style="background-color: blueviolet;">
                            <div class="h4">DIPLOMA (EEE)</div>
                            <h4 class="category" style="color: black;">VEMU INSTITUTE OF TECHNOLOGY</h4>
                            <ul>
                                    <li style="color: black;">Completed With 77.98%</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body" style="background-color: blueviolet;">
                            <div class="h5">SSC</div>
                                <h4 class="category" style="color: black;">Z P HIGH SCHOOL, Goduguchintha</h4>
                                <ul>
                                        <li style="color: black;">Completed with 90% </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                            
</div>     