<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" style="background-color: white;">
            <div class="page-header-image" data-parallax="true">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <a href="#">
                        <img src="assets/images/pic.png" alt="Image" />
                    </a>
                </div>
                <div class="h2 title">ARCOT HEMANTH RAYAN</div>
                <p class="category text-white">SOFTWARE ENGINEER</p>
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" style="background-color: blueviolet;">Hire Me</a> <br>
                <a class="btn btn-primary"href="https://docs.google.com/document/d/1HSVZPYX0c_d6fkFsfNOAAnb3--LGD2Lo/edit?usp=sharing&ouid=105500183977979454287&rtpof=true&sd=true" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" style="background-color: blueviolet;">Download CV</a>
            </div>
        </div>
      </div>
    </div>
</div>